* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #F5F5F5;
  color: #333333;

  max-width: 1259px;

  padding: 56px 115px;
  margin: 0 auto;
}

body, button {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 900px) {
  body {
    padding: 15px;
  }
}
